%form{:action => "#{packet.route_to(model_name, 'new')}", :method => 'post', :"accept-charset" => "UTF-8"}
  - for prop in props
    !~ view_attribute(prop, model_name, :label => true)
  %input{:type => 'submit', :value => 'Save New Item'}